{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-info">
        <p style="text-align: center">Dostepne operacje:
        {% for op in oper %}
            '{{ op }} '
        {% endfor %}
        </p>
    </div>
  <form action="/calculate" method="POST" style="text-align: center">
  {% csrf_token %}
	<input  type="text" name="calculator">
    <button type="submit" name="licz">Policz!</button>
  {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
            {% endfor %}
  {% endif %}
  </form>
    <form action="/calculate" method="POST" style="text-align: center">
  {% csrf_token %}
	<input  type="text" name="calculator">
    <button type="submit" name="licz">Policz!</button>
  {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
            {% endfor %}
  {% endif %}
  </form>
{% endblock %}
